<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page </title>
</head>
<body>

    <%- include('common/header') %>

    <h1>Login Page  </h1> 
    <div>
       
        Ad nam vero corrupti beatae neque fuga culpa tenetur dignissimos nemo optio distinctio ipsam voluptatum molestiae dicta error, enim illo voluptates ullam inventore alias cum mollitia? Perspiciatis consequuntur natus sed.
        Laboriosam expedita enim obcaecati distinctio similique. Inventore, neque provident officia maxime, deserunt eligendi dicta praesentium temporibus magni eveniet libero similique perferendis explicabo et aperiam tempore voluptatibus est atque quisquam earum.
        Possimus ex tempora consequatur asperiores sed magnam rem cupiditate odit, fugit vero sunt numquam, laboriosam recusandae soluta ab sit vel qui repellat. Quia dolorum ad ea modi quasi qui recusandae?
        Delectus non repudiandae doloremque aliquam voluptas unde. Qui nulla dolor quod corporis odit molestiae totam culpa aliquid? Fuga aut provident molestiae, nobis nesciunt aperiam asperiores quo corporis excepturi ea eos!
        Voluptatum, numquam? Rem quidem ipsa alias, est eligendi voluptate dolorum cumque iusto laboriosam veritatis assumenda! Amet corrupti, reprehenderit voluptates id quis eveniet fugit cupiditate itaque. Reiciendis temporibus nemo hic consequuntur!
        Ex quas porro commodi. Libero aperiam, facilis alias saepe molestiae similique nam consectetur ex autem explicabo praesentium minima exercitationem tenetur obcaecati nulla fuga quaerat eius. Harum nobis pariatur ad aspernatur.

    </div>
</body>
</html>